  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #eaeaea;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .user__info {
      flex-basis: calc(100% - 90px);
      *{
        margin: 5px 0;
      }
    }

    .messages_count {
      font-size: 15px;
      color: #f00;
      background: #eee;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
